<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course details</title>
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menubar"></div>

  <h1>Details</h1>
  
  <table>
 <tr>
   <th>COURSE CODE</th>
   <th>COURSE NAME</th>
   <th>DESCRIPTION</th>
   <th>START DATE</th>
   <th>CREDITS</th>
   <th>LECTURER</th>
   <th> ENROLL </th>
   
 </tr>
 <tr class="table-row">
   <td th:text=${courses.code}>Course Code</td> 
   <td th:text=${courses.name}>Course Name</td>
   <td th:text=${courses.description}>Description</td> 
   <td th:text=${courses.startdate}>Start Date</td>
   <td th:text=${courses.credits}>Course Credits</td>
   <td th:text=${courses.lecturer.name}>Lecturer</td>
   <td><a href="EnrollSuccess.html" th:href="@{/course/enrol/}+${courses.code}">Enroll</a></td>
</tr>
</table>
</body>
</html>