<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course details</title>
</head>
<body>

  <h1>Details</h1>
  <table>
 <tr>
   <th>COURSE ID</th>
   <th>COURSE NAME</th>
   <th>DESCRIPTION</th>
   <th>START DATE</th>
   <th>END DATE</th>
   <th>CREDITS</th>
   
 </tr>
 <tr th:each="product:${plist}">
   <td th:text="${course.id}">COURSEID</td> 
   <td th:text="${course.courseName}">Course Name</td>
   <td th:text="${course.courseDescription}">Description</td>
   <td th:text="${#temporals.format(course.startdate, 'dd-MM-yyyy')}">Start Date</td>
    <td th:text="${#temporals.format(course.enddate, 'dd-MM-yyyy')}">End date</td>
   <td th:text="${course.credits}">COURSEID</td>
   

 <td><a href="EnrolSuccess.html"
		th:href="@{/course/enrol/}+${course.id}" th:utext="#{course.enrol}"> Enroll</a></td>
</tr>
</table>
</body>
</html>