<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Courses</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/caps.css}"/>
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menubar"></div>

	<h1>Course Listing</h1>
	<!-- Add Hyperlink -->
	<a href="Courselist.html" th:href="@{/admin/addCourse}">Add Course</a>

	<table>
		<tr>
			<th >Course Id</th>
			<th >Course Name</th>
			<th >Code</th>
			<th >Capacity</th>
			<th >Lecturer</th>
		</tr>
		
		<tr th:each="coursedetail:${coursedetails}" class="table-row">
			<td th:text=${coursedetail.id}>Id</td>
			<td th:text=${coursedetail.courseName}>Course Name</td>
			<td th:text=${coursedetail.code}>Code</td>
			<td th:text=${coursedetail.courseCapacity}>Capacity</td>
			<td th:text=${coursedetail.lecturer.name}>Lecturer</td>
			<td><input type="button" value="View Course"></td>
			<td><a href="EditCourseDetail.html"
		th:href="@{/admin/editCourseDetail/}+${coursedetail.id}" th:text="Edit"> Edit </a></td>
	        <td><a href="DeleteCourse.html"
		th:href="@{/admin/deleteCourseDetail/}+${coursedetail.id}" th:text="Delete"> Delete </a></td>
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>