<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Courses</title>
</head>
<body>
	
	<h1>Course Listing for Lecturers</h1>
	<!-- Add Hyperlink -->
	<a href="Courselist.html" th:href="@{/admin/addLecCourse}">Add Course</a>
	<table>
		<tr>
			<th >Course Id</th>
			<th >Course Name</th>
			<th >Code</th>
			<th >Credits</th>
			<th >View Course details</th>
		</tr>
		<tr th:each="course:${courses}" class="table-row">
			<td th:text=${course.id}>Id</td>
			<td th:text=${course.code}>Code</td>
			<td th:text=${course.name}>Course Name</td>
			<td th:text=${course.credits}>Credits</td>			
			<!-- <td><input type="button" value="View Course"></td> -->
			 <td><a href="Courseview.html" th:href="@{/course/list/{id}/}+${course.id}" th:utext="#{course.view.list}"> View Course </a></td>
		</tr>
	</table>
    <br/>
	
	
</body>
</html>