<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Courses</title>
</head>
<body>
	
	<h1>Grade students</h1>
	
	<table>
		<tr>
			<th >Course Id</th>
			<th >Course Name</th>
			<th >Code</th>
			<th >Credits</th>
			<th >Perform grading</th>
			
		</tr>
		<tr th:each="course:${courses}" class="table-row">
			<td th:text=${course.id}>Id</td>
			<td th:text=${course.code}>Code</td>
			<td th:text=${course.name}>Course Name</td>
			<td th:text=${course.credits}>Credits</td>			
			<!-- <td><input type="button" value="View Course"></td> -->
			 <td><a href="gradeform.html" th:href="@{/lecturer/gradeform/}+${course.id}"> Grade Student </a></td>
			 
		</tr>
	</table>
    <br/>
	
	
</body>
</html>