<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Courses</title>
</head>
<body>
	
	<h1>Your Current Courses</h1>
	<!-- Add Hyperlink -->
	<table>
		<tr>
			<th >Course Id</th>
			<th >Course Name</th>
			<th >Code</th>
			<th >Credits</th>
			<th >View Course details</th>
			<th >View Student Performance</th>
		</tr>
		<tr th:each="coursedetail:${coursedetails}" class="table-row">
			<td th:text=${coursedetail.id}>Id</td>
			<td th:text=${coursedetail.code}>Code</td>
			<td th:text=${coursedetail.name}>Course Name</td>
			<td th:text=${coursedetail.credits}>Credits</td>			
			<!-- <td><input type="button" value="View Course"></td> -->
			<td><a href="LecCourseView.html" th:href="@{/lecturer/ViewCourseDetails/}+${coursedetail.code}"> View Course </a></td>
			<td><a href="StudentList-lecturer.html" th:href="@{/lecturer/ViewCourseEnrollment/}+${coursedetail.code}">View Student Performance</a>  
		</tr>
	</table>
    <br/>
	
	
</body>
</html>