<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Manage Lecturer</title>
</head>
<body>
<h1>Lecturer Form</h1>
<form action="" th:object="${lecturer}" th:action="@{/admin/saveLecturer}" method="get">
        <fieldset>
		     <input type="hidden" th:field="*{id}">  
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{name}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		
		<fieldset>
			Position: <input type="text" th:field="*{position}">
			<p th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></p>
		</fieldset>
		<fieldset>
			Username: <input type="text" th:field="*{account.username}">
			<p th:if="${#fields.hasErrors('account.username')}" th:errors="*{account.username}"></p>
		</fieldset>
		<fieldset>
			Password: <input type="text" th:field="*{account.password}">
			<p th:if="${#fields.hasErrors('account.password')}" th:errors="*{account.password}"></p>	
		</fieldset>
		<fieldset>
			Role: <input type="text" th:field="*{account.role}" value="LECTURER">
			<p th:if="${#fields.hasErrors('account.role')}" th:errors="*{account.role}"></p>
		</fieldset>
		
		<fieldset>
			<input type="submit" value="Save"/>
			&nbsp; &nbsp; 	
			<input type="reset" value="Reset"/>
		</fieldset>
</form>

</body>
</html>