<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Lecturer List</h1>
	<h1 th:text="${message}">default</h1>

	<h2>Lecturers</h2>
	<table>
		<tr>
			<th >Lecturer ID</th>
			<th >Lecturer Name</th>
			<th >Lecturer Position</th>
			
		</tr>
		<tr th:each="lecturer:${lecturers}" class="table-row">
			<td th:text=${lecturer.id}>Id</td>
			<td th:text=${lecturer.name}>Name</td>
			<td th:text=${lecturer.position}>Position</td>
			<td>
			<a href="CourseList.html"
			th:href="@{/lecturer/ViewCourse/}+${lecturer.id}">View Courses</a>
			</td>
		</tr>
	</table>
	
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>