<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Lecturer</title>
<title>Hi (Insert name here)</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
<br/>
		<a th:href="@{/logout}">Log out</a>
<br/>

  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>