<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Course Enrollments</h1>

	<table>
		<tr>
			<th >Course Id</th>
			<th >Course Name</th>
			<th >Credits</th>
			<th >Enrollments</th>
		</tr>
		<tr th:each="course:${courses}" class="table-row">
			<td th:text=${course.id}>Id</td>
			<td th:text=${course.name}>Course Name</td>
			<td th:text=${course.credits}>Credits</td>
			<td><a 
			th:href="@{/lecturer/ViewCourseEnrollment/}+${course.code}">Enrollments</a></td>
		</tr>
	</table>
</body>
</html>