<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lecturer</title>
</head>
<body>
	
	<table th:object="${lecturer}">
	<tr> 
	<td><h1>Welcome <span th:text="${lecturer.position}">13</span> <span th:text="${lecturer.name}">13</span></h1></td>
	</tr>
	<tr>
	<td><a th:href="@{/logout}">Log out</a></td>
	</tr>
	<tr>
	<td><h2><a href="LecCourseList.html"
			th:href="@{/lecturer/ViewCourse/}+${lecturer.id}">View Courses Taught</a></h2></td>
	</tr>
	<tr>
	<td><h2><a href="LecturerCourses.html" 
	         th:href="@{/lecturer/ViewCourseStudents/}+${lecturer.id}">View Course Enrollment</a></h2></td>
	</tr>
	</table>
</body>
</html>