<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lecturer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/caps.css}" />
</head>

<body>
    bravo you are logged in <span th:text="${lecturer.position}">&nbsp;</span><span th:text="${lecturer.name}"></span>
    <header th:replace="fragments/general.html :: header"></header>
    <div th:replace="fragments/general.html :: menubar"></div>
    <table class="Buttontbl">
        <tr>
            <th class="btndiv"><a href="CourseList.html" th:href="@{/lecturer/ViewCourse/}+${lecturer.id}">View Course Taught</a></th>
        </tr>
        <tr>
            <th class="btndiv"><a href="LecturerCourses.html" th:href="@{/lecturer/ViewCourseStudents/}+${lecturer.id}">View Course Enrollment</a></th>
        </tr>
    </table>

    <br>

    
    <div th:replace="fragments/general.html :: footer"></div>
</body>

</html>