<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Manage Student</title>
</head>
<body>
<h1>Student Form</h1>
<form action="" th:object="${student}" th:action="@{/admin/saveStudent}" method="get">
        <fieldset>
		     <input type="hidden" th:field="*{id}"> 
		     <input type="hidden"
				th:field="*{account.id}" /> 
		</fieldset>
		<fieldset>
			FirstName: <input type="text" th:field="*{firstName}">
			<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		</fieldset>
		<fieldset>
			LastName: <input type="text" th:field="*{secondName}">
			<p th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></p>
		</fieldset>
		<fieldset>
			Major: <input type="text" th:field="*{major}">
			<p th:if="${#fields.hasErrors('major')}" th:errors="*{major}"></p>
		</fieldset>
		
		<fieldset>
			GPA: <input type="text" th:field="*{gpa}">
		    <p th:if="${#fields.hasErrors('gpa')}" th:errors="*{gpa}"></p>	
		</fieldset>
		<fieldset>
			Credit Taken:
			<input type="text" th:field="*{creditsTaken}">
				
			<p th:if="${#fields.hasErrors('creditsTaken')}" th:errors="*{creditsTaken}"></p>	
		</fieldset>
		<fieldset>
			Courses Taken:
			<input type="text" th:field="*{coursesTaken}">
				
			<p th:if="${#fields.hasErrors('coursesTaken')}" th:errors="*{coursesTaken}"></p>	
		</fieldset>
		<fieldset>
			Username: <input type="text" th:field="*{account.username}">
			<p th:if="${#fields.hasErrors('account.username')}" th:errors="*{account.username}"></p>
		</fieldset>
		<fieldset>
			Password: <input type="text" th:field="*{account.password}">
			<p th:if="${#fields.hasErrors('account.password')}" th:errors="*{account.password}"></p>	
		</fieldset>
		<fieldset>
			Role: <input type="text" th:field="*{account.role}" >
			<p th:if="${#fields.hasErrors('account.role')}" th:errors="*{account.role}"></p>
		</fieldset>
		
		<fieldset>
			<input type="submit" value="Save"/>
			&nbsp; &nbsp; 	
			<input type="reset" value="Reset"/>
		</fieldset>
</form>

</body>
</html>