<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Student List</h1>
	<h1 th:text="${message}">default</h1>

	<h2>Students</h2>
	<a href="StudentForm.html"
		th:href="@{/admin/addStudent}" th:utext="#{student.page.add}"> Add </a>
	<table>
		<tr>
			<th >Student ID</th>
			<th >First Name</th>
			<th >Second Name</th>
			<th >Credits Taken</th>
			<th >Current GPA</th>
			<th >Major</th>
		</tr>
		<tr th:each="student:${students}" class="table-row">
			<td th:text=${student.id}>Id</td>
			<td th:text=${student.firstName}>First Name</td>
			<td th:text=${student.secondName}>Second Name</td>
			<td th:text=${student.creditsTaken}>Credits Taken</td>
			<td th:text=${student.gpa}>Current GPA</td>
			<td th:text=${student.major}>Major</td>
			<td><a href="EditStudent.html"
		th:href="@{/admin/editStudent/}+${student.id}" th:utext="#{student.page.edit}"> Edit </a></td>
	        <td><a href="DeleteStudent.html"
		th:href="@{/admin/deleteStudent/}+${student.id}" th:utext="#{student.page.delete}"> Delete </a></td>
		</tr>
	</table>
	
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>