<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/caps.css}"/>
</head>
<body>
	bravo you are logged in Mr. <span th:text="${student.firstName}">Student</span>
	<header th:replace="fragments/general.html :: header"></header>
	<div th:replace="fragments/general.html :: menubar"></div>
	<table class="Buttontbl">
        <tr>
            <th class="btndiv"><a th:href="@{/student/list}" class="actionbtn">View Students</a></th>
        </tr>
        <tr>
            <th class="btndiv"><a th:href="@{/student/info/}+${student.id}" class="actionbtn">view your courses</a></th>
        </tr>
        <tr>
            <th class="btndiv"><a class="actionbtn">Manage Courses</a></th>
        </tr>
        <tr>
            <th class="btndiv"><a class="actionbtn">Manage Enrolment</a></th>
        </tr>
    </table>
	
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>