<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header" id="header">
		<table>
			<tr>
				<td width="15%"><img th:src="@{/image/club.png}" /></td>
				<td><h1>CAPS</h1></td>
			</tr>
		</table>

	</div>
	<div th:fragment="menu" id="menu">
		<table>
			<tr>
				<td><input type="button" value="Manage Members"
					onclick="window.location.href='/member/list'; return false"
					class="button" /> <input type="button" value="Manage Facilities"
					onclick="window.location.href='/facility/list'; return false"
					class="button" /> <input type="button" value="Manage Booking"
					onclick="window.location.href='/booking/list'; return false"
					class="button" /></td>
			</tr>
		</table>
	</div>
	<footer th:fragment="footer">
	<span th:if="${session.stu != null}">
		<a th:href="@{/logout}">Log out</a>
	</span>
	<span th:if="${session.admin != null}">
		<a th:href="@{/logout}">Log out</a>
	</span>
	<span th:if="${session.lect != null}">
		<a th:href="@{/logout}">Log out</a>
	</span>
	<span th:if="${session.admin == null and session.lect == null and session.stu == null}">
		<a th:href="@{/login}">Log in</a>
	</span>
	
		<br/>
		 <small>Now is: <b
			th:text="${execInfo.now.time}"></b></small> <br /> <small>(c)Course Application
			Processing System (CAPS) , SA52 Team7, 2021</small>
	</footer>
</body>
</html>